.diri{
    margin-left: 30px;
    padding:5px;
    background-color:bisque;
}

.header{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    column-gap: 75px;
}


#Education{
    font-size: 16px;
    border: 5px solid black;
    height: 400px;
    width: 500px;
    background-color: blanchedalmond;
}

h1{
    font-size:2em;
}

#Experience{
    font-size: 16px;
    border: 5px solid black;
    height: 400px;
    width: 500px;
    background-color: blanchedalmond;
}



#Skills{
    font-size:16px;
    border: 5px solid black;
    height: 400px;
    width: 500px;
    background-color: blanchedalmond;
}

#contact{
    display: flex;
    justify-content: center;
}
#Image{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    column-gap: 50px;
}

img{
    height: 50px;
}